body{
    background: rgb(5, 53, 61);
}

*{
    margin: 0;
    padding: 0;
    border: none;
}

.alingcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #fff;
    margin: 10px;
    width: 500px;
    border-radius: 5px;
    height:465px;
}

.container h2{
    text-align: center;
    padding: 10px;
}

.container p{
    text-align: center;
}

.form{
    background: #fff;
    border-radius: 5px;
    width: 500px;
}


.alingForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.alingDados{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;

}

.alingDados input{
    padding: 10px;
    width: 30vw;
    border: 1.5px solid #c2bdbd;
    border-radius: 5px;
}

.alingDados label{
    margin-right: 305px;
    padding: 5px;
}

.alingBtn{
    padding: 10px;  
}

.alingBtn button{
    width: 100px;
    height: 40px;
    border-radius:5px;
    background: #252525;
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #f2f2f2;
}